<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description '' %}">
    <link rel="icon"
          href="{{ asset('assets/img/moto-logo.png') }}">
    <title>
        {% block title %}
            {% block page_title %}{% endblock %} | MOTO BLOG
        {% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
